* {
    margin: 0;
    padding: 0;
}

:root {
    /* Colors: */
    --primary-d1: #172BC4;
    --primary-m1: #336DFF;
    --primary-brand: #1F39FF;
    --primary-l1: #3D84FF;
    --gray-d2: #181C24;
    --gray-d1: #535965;
    --gray-m1: #91959C;
    --gray-l2: #B5B7BC;
    --gray-l1: #E5E5E7;
    --white: #FFFFFF;
    --positive-2: #12805C;
    --positive-1: #268E6C;
    --negative-2: #C9252D;
    --negative-1: #D7373F;
    --unnamed-color-172026: #172026;

    /* Font/text values */
    --unnamed-font-family-muli: Muli;
    --unnamed-font-family-source-serif-pro: Source Serif Pro;
    --unnamed-font-style-normal: normal;
    --unnamed-font-style-italic: italic;
    --unnamed-font-weight-600: 600;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-size-14: 14px;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-20: 20px;
    --unnamed-font-size-24: 24px;
    --unnamed-font-size-36: 36px;
    --unnamed-font-size-48: 48px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-20: 20px;
    --unnamed-line-spacing-21: 21px;
    --unnamed-line-spacing-24: 24px;
    --unnamed-line-spacing-25: 25px;
    --unnamed-line-spacing-30: 30px;
    --unnamed-line-spacing-32: 32px;
    --unnamed-line-spacing-45: 45px;
    --unnamed-line-spacing-60: 60px;
    --unnamed-line-spacing-17-5: 17.5px;
}

/* Character Styles */
.display-xl-48-dekstop-only {
    font-family: var(--unnamed-font-family-source-serif-pro);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-48);
    line-height: var(--unnamed-line-spacing-60);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-172026);
}

.display-l-36- {
    font-family: var(--unnamed-font-family-source-serif-pro);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-36);
    line-height: var(--unnamed-line-spacing-45);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-172026);
}

.display-m-24- {
    font-family: var(--unnamed-font-family-source-serif-pro);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-172026);
}

.display-s-20- {
    font-family: var(--unnamed-font-family-source-serif-pro);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-20);
    line-height: var(--unnamed-line-spacing-25);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-172026);
}

.regular-heading-xl-24- {
    font-family: var(--unnamed-font-family-muli);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-172026);
}

.regular-heading-l-20- {
    font-family: var(--unnamed-font-family-muli);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-20);
    line-height: var(--unnamed-line-spacing-25);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-172026);
}

.regular-heading-m-16- {
    font-family: var(--unnamed-font-family-muli);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-20);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-172026);
}

.regular-heading-s-14- {
    font-family: var(--unnamed-font-family-muli);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-17-5);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-172026);
}

.regular-body-l-20- {
    font-family: var(--unnamed-font-family-muli);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-20);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-172026);
}

.regualr-body-m-16- {
    font-family: var(--unnamed-font-family-muli);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-172026);
}

.regular-body-s-14- {
    font-family: var(--unnamed-font-family-muli);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-21);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-172026);
}

.blockquote {
    font-family: var(--unnamed-font-family-muli);
    font-style: var(--unnamed-font-style-italic);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-20);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--gray-d2);
}

.numbered-list {
    font-family: var(--unnamed-font-family-muli);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-32);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--gray-d2);
}

.separator {
    height: 2px;
    background-color: var(--gray-l1);
}

body {
    font-family: var(--unnamed-font-family-muli);
}

a {
    color: var(--gray-d1);
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h4 {
    font-size: 1em;
    font-weight: var(--unnamed-font-weight-600);
}



header {
    display: grid;
    grid-template-columns: 120px auto 220px;
    justify-content: space-between;
    align-items: center;
    padding-left: 4em;
    padding-right: 4em;

}

h1>span {
    color: #3D84FF;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

header nav ul li {
    margin-top: 1.93em;
    margin-bottom: 1.93em;
}

header nav a {
    text-decoration: none;
    color: #1B252C;
    text-align: center;
    font-size: var(--unnamed-font-size-14);

}

nav+div {
    display: flex;
    gap: 10px;

}

nav+div a {
    display: flex;
    gap: 10px;
    margin-right: .6em;
    color: #1B252C;
}

.megaMenu>p {
    margin: 2.06em;
    margin-left: 10.9em;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.container h4 {
    margin-bottom: 1em;
}

.container__megaMenu__nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.container__megaMenu__nav ul li {
    margin-bottom: .5em;
}

.container__megaMenu__nav ul a {
    font-size: var(--unnamed-font-size-16);
    color: var(--gray-d1);
}

footer {
    padding-top: 2.75em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer__container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(4, 251px);
}

.footer__container h4 {
    margin-bottom: 1em;
}

.footer__nav ul {
    list-style: none;
}

.footer__nav ul li {
    margin-bottom: .5em;
}

.footer__nav ul a {
    font-size: var(--unnamed-font-size-16);
    color: var(--gray-d1);
}

.social--media {
    display: flex;
    flex-direction: column;
}

.social--media>div {
    display: flex;
    gap: 15px;
    margin-top: 11px;
}

.footer__container__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 7em;
}

.footer__container__copyright>span {
    margin-left: 16em;
}

.footer__container__copyright>div a {
    text-decoration: underline;
    margin-right: .4em;
}

small {
    font-size: var(--unnamed-font-size-14);
}