* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  /* Colors: */
  --primary-d1: #172bc4;
  --primary-m1: #336dff;
  --primary-brand: #1f39ff;
  --primary-l1: #3d84ff;
  --gray-d2: #181c24;
  --gray-d1: #535965;
  --gray-m1: #91959c;
  --gray-l2: #b5b7bc;
  --gray-l1: #e5e5e7;
  --white: #ffffff;
  --positive-2: #12805c;
  --positive-1: #268e6c;
  --negative-2: #c9252d;
  --negative-1: #d7373f;
  --unnamed-color-172026: #172026;

  /* Font/text values */
  --unnamed-font-family-muli: Muli;
  --unnamed-font-family-source-serif-pro: Source Serif Pro;
  --unnamed-font-style-normal: normal;
  --unnamed-font-style-italic: italic;
  --unnamed-font-weight-600: 600;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-20: 20px;
  --unnamed-font-size-24: 24px;
  --unnamed-font-size-36: 36px;
  --unnamed-font-size-48: 48px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-20: 20px;
  --unnamed-line-spacing-21: 21px;
  --unnamed-line-spacing-24: 24px;
  --unnamed-line-spacing-25: 25px;
  --unnamed-line-spacing-30: 30px;
  --unnamed-line-spacing-32: 32px;
  --unnamed-line-spacing-45: 45px;
  --unnamed-line-spacing-60: 60px;
  --unnamed-line-spacing-17-5: 17.5px;
}

/* Character Styles */
.display-xl-48-dekstop-only {
  font-family: var(--unnamed-font-family-source-serif-pro);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-48);
  line-height: var(--unnamed-line-spacing-60);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
}
.display-l-36- {
  font-family: var(--unnamed-font-family-source-serif-pro);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-36);
  line-height: var(--unnamed-line-spacing-45);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
}
.display-m-24- {
  font-family: var(--unnamed-font-family-source-serif-pro);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-24);
  line-height: var(--unnamed-line-spacing-30);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
}
.display-s-20- {
  font-family: var(--unnamed-font-family-source-serif-pro);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-25);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
}
.regular-heading-xl-24- {
  font-family: var(--unnamed-font-family-muli);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-24);
  line-height: var(--unnamed-line-spacing-30);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
}
.regular-heading-l-20- {
  font-family: var(--unnamed-font-family-muli);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-25);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
}
.regular-heading-m-16- {
  font-family: var(--unnamed-font-family-muli);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-20);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
}
.regular-heading-s-14- {
  font-family: var(--unnamed-font-family-muli);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-17-5);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
}
.regular-body-l-20- {
  font-family: var(--unnamed-font-family-muli);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-30);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
}
.regualr-body-m-16- {
  font-family: var(--unnamed-font-family-muli);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-24);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
}
.regular-body-s-14- {
  font-family: var(--unnamed-font-family-muli);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-21);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
}
.blockquote {
  font-family: var(--unnamed-font-family-muli);
  font-style: var(--unnamed-font-style-italic);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-30);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--gray-d2);
}
.numbered-list {
  font-family: var(--unnamed-font-family-muli);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-32);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--gray-d2);
}

.promo-text-style {
  font-family: var(--unnamed-font-family-source-serif-pro);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-36);
  line-height: var(--unnamed-line-spacing-45);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
}

h1 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-36) / var(--unnamed-line-spacing-45)
    var(--unnamed-font-family-source-serif-pro);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: #1b252c;
  opacity: 1;
}

h2 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-24) / var(--unnamed-line-spacing-30)
    var(--unnamed-font-family-source-serif-pro);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white);
  text-align: left;
  opacity: 1;
}

p {
  font-family: var(--unnamed-font-family-muli);
  font-size: var(--unnamed-font-size-s);
}

a {
  text-decoration: none;
  font-size: var(--unnamed-font-size-s);
  color: var(--unnamed-color-172026);
  align-items: center;
}
button {
  align-items: center;
  background: transparent;
  border: none;
}

.btn-primary {
  background: var(--primary-brand) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba(57, 55, 55, 0.1607843137);
  border-radius: 10px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-xs) / 16px var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  opacity: 1;
  width: 13.75em;
  height: 2.5em;
}

.btn-secondary {
  width: 13.75em;
  height: 2.5em;
  border: 2px solid #2a65d7;
  border-radius: 10px;
  opacity: 1;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-xs) / 16px var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--primary-brand);
  text-align: center;
  text-transform: uppercase;
  opacity: 1;
}

.btn-secondry-reversed {
  font-size: var(--unnamed-font-size-xs);
  width: 132px;
  height: 18px;
  font-family: var(--unnamed-font-family-muli);
  font-weight: bold;
  color: var(--primary-brand);
  text-align: center;
  text-transform: uppercase;
}

body {
  font-family: var(--unnamed-font-family-muli);
  overflow-x: hidden;
}

.is--hidden {
  display: none;
}

.separator {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 8px;
  background: var(--primary-brand) 0% 0% no-repeat padding-box;
  opacity: 1;
}

.separator2 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 4px;
  background-color: #f4f5f5;
}

.visibility--hidden {
  display: none;
}

/* Header */
header {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-areas: "menu logo btn-container";
  margin: 0 1em;
}
.menu {
  grid-area: menu;
  margin: 1.125em 0.9375em;
  width: 18px;
  height: 12px;
  z-index: 9999;
}

.logo {
  grid-area: logo;
}

.v {
  position: relative;
  display: inline-block;
  color: transparent;
}

.v::before,
.v::after {
  content: "V";
  position: absolute;
  top: 0;
  left: 0;
}

.v::before {
  color: var(--primary-l1);
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.v::after {
  color: var(--unnamed-color-172026);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.logo a {
  font-size: var(--unnamed-font-size-24);
  color: var(--unnamed-color-172026);
  text-align: center;
  margin-top: 0.4em;
}

.cartMenu {
  grid-area: cart;
  margin: 1.125em 0.9375em;
  width: 22px;
  height: 24px;
}

header nav {
  position: absolute;
  transform: translateX(-150%);
  z-index: 99;
}
header nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 5em;
}
header nav a {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-16) / var(--unnamed-line-spacing-24)
    var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
  text-align: left;
  opacity: 1;
}

header [data-visible="true"] {
  width: 10rem;
  height: 100%;
  transform: translate(0%, 44%);
  background-color: var(--white);
  z-index: 999;
}

.header-actions {
  grid-area: btn-container;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.75em;
}
.header-actions span {
  display: none;
}
.header-actions__user {
  display: none;
}

/* Carousel */

.carousel {
  height: 600px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.carousel__image {
  width: 100%;
  height: 100%;
  background-image: url("../images/00\ Hero.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.carousel__text {
  position: absolute;
  bottom: 9rem;
  text-align: center;
  width: 100%;
  z-index: 99;
  padding: 0 1em;
}
.carousel__text p {
  font-style: normal;
  line-height: var(--unnamed-line-spacing-24);
  font-weight: var(--unnamed-font-weight-normal);
  text-align: center;
  letter-spacing: 0.32px;
  color: #1b252c;
  opacity: 1;
}
.carousel__text button {
  margin-top: 2em;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 9;
}

/* Category */

.category-list {
  margin: 0 1em;
  margin-top: 1.2425em;
  position: relative;
  top: -7rem;
  z-index: 99;
  background: var(--white);
}
.category-list > div {
  overflow: hidden;
  position: relative;
  margin-bottom: 1em;
}
.category-list > div .separator {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
}

.category-list__image {
  width: 100%;
}
.category-list__image img {
  aspect-ratio: 1.5/1;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.category-list__details {
  width: fit-content;
  position: absolute;
  bottom: -2px;
  right: 0;
}
.category-list__details > div:first-child {
  padding: 1.0625em 1.125em 1.3125em 1.5em;
  background-color: rgba(27, 37, 44, 0.8509803922);
  text-align: left;
}
.category-list__details p {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) / 23px
    var(--unnamed-font-family-muli);
  color: var(--white);
  text-align: left;
  letter-spacing: 0.32px;
  opacity: 1;
}

main {
  margin-bottom: 4em;
}

/* Promo 1 */
.promo1 {
  margin: 0 1em;
  display: grid;
  align-items: center;
  margin-top: -7em;
  overflow: hidden;
  text-align: center;
}
.promo1 .separator {
  width: 4.875em;
  margin: auto;
}

.promo1__img img {
  width: 100%;
  object-fit: contain;
}

.promo1__img + div {
  overflow: hidden;
}

.promo1__container--text p {
  margin-top: 1em;
}

.promo1__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  margin: 2em 0;
}

/* Promo 2 */
.promo2 {
  display: grid;
  align-items: center;
  overflow: hidden;
  text-align: center;
  margin-top: 2.9925em;
  margin-bottom: 1em;
}

.promo2__img > img {
  width: 100%;
  object-fit: cover;
}

.promo2__container--map-pin {
  position: relative;
  top: -2em;
  left: 0;
  width: 6.375em;
}
.promo2__container--map-pin img {
  width: 34px;
  height: 41px;
  margin-bottom: 1em;
}

.promo2__container--text {
  position: relative;
  top: -2em;
  margin: 0 1em;
  padding: 0 1.75em 2.25em 1.75em;
  background-color: #1b252c;
}
.promo2__container--text h3 {
  color: var(--white);
  margin-bottom: 0.223em;
}
.promo2__container--text span {
  color: var(--white);
}
.promo2__container--text button {
  margin-top: 2.29em;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 10px;
  opacity: 1;
}

/* Top Seller */

.top-seller h2 {
  color: black;
  text-align: center;
}
.top-seller > button {
  display: none;
}
.top-seller__card-list {
  display: flex;
  align-items: flex-start;
  overflow-x: clip;
  gap: 1em;
  padding: 1em;
  margin-top: 1em;
}
.top-seller__card-item {
  text-align: left;
  text-align: left;
  flex: 0 0 auto;
  width: calc(50% - 8px);
  scroll-snap-align: center;
}
.top-seller__product-image img {
  width: 100%;
  object-fit: cover;
}

.top-seller__product-details h4 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    18px / var(--unnamed-line-spacing-20) var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
  text-align: left;
}
.top-seller__product-details p {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-16) / var(--unnamed-line-spacing-20)
    var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
  text-align: left;
}

.top-seller__indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5em;
}
.top-seller__indicator button {
  width: 6px;
  height: 6px;
  background-color: #666;
  border-radius: 50%;
  opacity: 0.3;
}
.top-seller__indicator button.active {
  opacity: 1;
}

/* Footer */
.footer-top {
  margin: 0 1.125em;
}
.footer-top span {
  font-weight: var(--unnamed-font-weight-600);
}
.footer-top nav {
  margin-top: 3.75em;
}
.footer-top ul {
  display: grid;
  gap: 1em;
  margin-bottom: 2em;
}
.footer-top ul li a {
  font-family: var(--unnamed-font-family-muli);
}

.followUs {
  margin-bottom: 5em;
}
.followUs p {
  text-align: left;
  margin-top: 1em;
  margin-bottom: 0.6875em;
}

.footer-top__followUs--socialMedia img {
  margin-right: 1.9em;
}

.footer-bottom {
  margin: 2em 1.125em;
  text-align: center;
}

.footer-bottom--termsAndPolicy {
  margin-bottom: 1.563em;
  text-align: center;
}
.footer-bottom--termsAndPolicy a {
  margin-right: 1em;
  text-decoration: underline;
}

.footer-bottom--termsAndPolicy + div {
  margin-bottom: 2.38em;
}
.footer-bottom--termsAndPolicy + div pre {
  font-family: var(--unnamed-font-family-muli);
  font-size: var(--unnamed-font-size-xs);
  color: #545d63;
  font-weight: var(--unnamed-font-weight-normal);
  line-height: var(--unnamed-line-spacing-17-5);
}

.footer-bottom > a h5 {
  color: var(--gray-d2);
  font-size: var(--unnamed-font-size-s);
}

.footer-bottom--logo {
  color: var(--gray-d2);
  font-size: var(--unnamed-font-size-s);
}

@media screen and (width >= 768px) {
  header {
    grid-template-areas: "logo nav btn-container";
    padding: 1em 2.125em;
  }
  .menu {
    display: none;
  }
  .logo a {
    font-size: var(--unnamed-font-size-24);
  }
  header nav {
    position: static;
    transform: translateX(0%);
    z-index: 99;
    background: none;
    grid-area: nav;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 0;
  }

  .header-actions {
    gap: 1em;
  }
  .header-actions button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-actions span {
    display: initial;
    margin-left: 0.6em;
  }
  .header-actions__user {
    display: initial;
  }

  main {
    margin-bottom: 2em;
  }

  /* Carousel  */
  .carousel {
    background-color: #eee;
    display: flex;
    flex-direction: row-reverse;
  }
  .carousel__image {
    transform: scaleX(-1);
    background-size: contain;
    background-position: left;
    width: 50%;
  }
  .carousel__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: static;
  }
  .carousel__text p {
    margin-top: 0.334em;
    font-size: var(--unnamed-font-size-l);
  }
  .carousel__text button {
    margin-bottom: 4em;
  }

  /* Category */

  .category-list {
    display: flex;
    justify-content: center;
    gap: 0.8125em;
  }
  .category-list > div {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-shrink: 1;
  }
  .category-list__image img {
    aspect-ratio: auto;
  }
  .category-list__details {
    bottom: 0;
  }

  /* Promo1 */

  .promo1 {
    margin: 0 1em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: -7em;
    overflow: hidden;
    text-align: center;
  }
  .promo1 .separator {
    width: 4.875em;
    margin: 0;
  }
  .promo1__img {
    width: 40%;
    height: 100%;
  }
  .promo1__img img {
    object-fit: cover;
  }
  .promo1__img + div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1.5em;
    padding: 0 0 0 6.46em;
    width: 60%;
  }
  .promo1__container--text {
    text-align: left;
  }
  .promo1__container--text h4 {
    margin-bottom: 0.167em;
  }
  .promo1__btns {
    flex-direction: row;
    justify-content: flex-start;
    margin: 1.5em 0;
    margin-bottom: 3.5em;
  }

  /* Promo 2 */
  .promo2 {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
  }
  .promo2__img {
    width: 55%;
  }
  .promo2__img > img {
    width: 100%;
    object-fit: cover;
  }
  .promo2__container--map-pin {
    position: absolute;
    top: auto;
    left: -3.4rem;
    width: 6.375em;
    bottom: 2.5em;
  }
  .promo2__container--map-pin img {
    width: 34px;
    height: 41px;
    margin-bottom: 1em;
  }
  .promo2__container--text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    margin: 0;
    padding-top: 5.4375em;
    top: 0em;
  }
  .promo2__container--text h4 {
    margin-bottom: 1em;
  }

  /* Top Seller */

  .top-seller {
    position: relative;
    padding: 0 3.75em;
    margin-top: -3em;
  }


  .top-seller > button {
    display: block;
    position: absolute;
    top: 50%;
  }
  .top-seller-previous-btn {
    left: 0;
  }
  .top-seller-next-btn {
    right: 0;
  }
  .top-seller__card-list {
    margin-top: 2em;
  }
  .top-seller__card-item {
    width: calc(25% - 8px);
  }

  .footer-top {
    display: grid;
    grid-template-columns: auto auto 338px;
    grid-template-areas: "footerNav footerNav followUs";
    align-items: center;
  }
  footer nav {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    grid-area: footerNav;
  }
  .followUs {
    margin: auto 0;
    grid-area: followUs;
  }
}

@media screen and (width >= 1024px) {
  h1 {
    font-size: var(--unnamed-font-size-48);
  }
  h3 {
    font-size: var(--unnamed-font-size-xl);
  }
  h4 {
    font-size: var(--unnamed-font-size-xxl);
    line-height: var(--unnamed-line-spacing-60);
  }

  main,
  footer {
    width: 1000px;
    margin: auto;
  }
}

@media screen and (width >= 1280px) {
  .promo-text-style {
    font-size: var(--unnamed-font-size-48);
  }
}

@media screen and (width >=1440px) {
  main,
  footer {
    width: 1200px;
    margin: auto;
  }
}

@media screen and (width >=1920px) {
  main,
  footer {
    width: 1500px;
    margin: auto;
  }
}
